.panel {
    flex: 0 0 50%;
    /* min-width: 120px; */
    padding: .6rem;
    /* padding: 1.2rem; */
    /* border: 2px solid deeppink; */
}

.player-label {
    /* border: 2px solid lime; */
    /* font-size: 3rem; */
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .8rem;
    position: relative;
}

.active { background-color: var(--divider-color-bg); }

.panel.active .player-label { font-weight: 300; }
.panel.active .player-label::after {
    content: '';
    width: 10px;
    height: 10px;
    /* height: 13px; */
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px / 2);
    right: 0; 
}

.player-score {
    text-align: center;
    color: var(--accent-color);
    font-size: 5rem;
    font-weight: 100;
    /* margin-bottom: 7rem; */
}
/* .panel.active .player-score { font-weight: 400; } */

.player-current {
    background-color: var(--accent-color);
    /* width: 40%; */
    margin: 0 auto;
    padding: .9rem;
    text-align: center;
}
.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    /* font-size: 1rem; */
    font-size: .8rem;
    color: #222;
    /* color: #222; */
}

.panel.active .player-current-label { color: var(--text-inverse)}

.player-current-score {
    color: var(--text-inverse);
    font-size: 2rem;
}

.winner { background-color: var(--divider-color-bg); }
.winner .player-label {
    background-color: var(--accent-color);
    color: var(--text-inverse);
    font-weight: 300;
}

@media (min-width: 600px) {
    .panel {
        flex: 0 0 50%;
        /* min-width: 120px; */
        padding: 0 1rem 2rem;
        /* padding: 1.2rem; */
    }
    .player-label {
        font-size: 2rem;
        padding: 1rem .4rem;
    }

    .winner .player-label {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .panel.active .player-label::after {
        top: calc(50% - 10px / 2);
        right: 10%; 
    }
    .player-current {
        width: 70%;
        padding: .9rem;
    }
}